* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.timer-container {
    display: flex;
    justify-content: center;
}
.display-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40vw;
    margin: 0 auto;
}
.correct {
    color: green;
}
.wrong {
    color: red;
    text-decoration: underline;
}
.progress-bar-container {
    background-color: black;
    &-bar {
        height: 24px;
        width: 0%;
        background-color: blue;
    }
}